CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_qihoo_360t7=y
# CONFIG_DEVEL=y  # 建议关闭，缩短编译时间
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_AFALG_UPDATE_CTR_IV=y
CONFIG_BUSYBOX_CONFIG_BLKID=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_BUSYBOX_CONFIG_VOLUMEID=y
CONFIG_CONNINFRA_AUTO_UP=y
CONFIG_CONNINFRA_EMI_SUPPORT=y
# CONFIG_GDB is not set
CONFIG_HTOP_LMSENSORS=y
CONFIG_INCLUDE_CONFIG=y
# CONFIG_KERNEL_BLK_DEV_THROTTLING is not set
# CONFIG_KERNEL_CFS_BANDWIDTH is not set
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
# CONFIG_KERNEL_DEVMEM=y  # 建议关闭，提升安全性
# CONFIG_KERNEL_KEYS is not set
# CONFIG_KERNEL_MEMCG_SWAP is not set
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_LUCI_SRCDIET=y
# ......（中间不变）
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-tiny=y
# CONFIG_PACKAGE_ip6tables-extra=y
# CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_ipset=y
# ......（中间不变）
# CONFIG_PACKAGE_kmod-ebtables-ipv4=y
# CONFIG_PACKAGE_kmod-ebtables-ipv6=y
# CONFIG_PACKAGE_ebtables-legacy=y  # 注释冗余ebtables主包
# CONFIG_PACKAGE_ebtables-legacy-utils=y  # 注释冗余ebtables工具
CONFIG_PACKAGE_kmod-fs-autofs4=y
# ......（其余所有配置均不变）
